@import "tailwindcss";

@font-face {
  font-family: 'heading-1';
  src: url("/fonts/Anton-Regular.ttf");
}

@font-face {
  font-family: 'Para-1';
  src: url("/fonts/Poppins-Light.ttf");
}

body {
  background: #ffff;
  color: #0000;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-welcome {
  background-image: url("/assets/welcome.jpg");
  background-size: cover;
  background-position: center;
}

.whatUs {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("/assets/vollyball.webp");
  background-size: cover;
  background-position: center;
}

.IconStar {
  background-image: url("/assets/IconPlayer.jpg");
  background-size: cover;
  background-position: center; 
}

.abcde {
  background-image: url("/assets/G30.jpg");
  background-size: cover;
  background-position: center; 
}

.abc {
  background-image: url("/assets/welcome.jpg");
  background-size: cover;
  background-position: center; 
}

.abcd {
  background-image: url("/assets/gallery.jpg");
  background-size: cover;
  background-position: center; 
}

.sony {
  background-image: url("/assets/sonysports.webp");
  background-size: cover;
  background-position: center; 
}

.doordarshan {
  background-image: url("/assets/doordarshan.webp");
  background-size: cover;
  background-position: center; 
}

.footer {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("/assets/footer.webp");
  background-size: cover;
  background-position: center; 
}

.wordsOwner {
  background-image: url("/assets/doordarshan.webp");
  background-size: cover;
  background-position: center; 
}

